# build artefacts
build
dist

# Eclipse
.project
.classpath
.settings/
.launch
.launch/

# Netbeans
nb-configuration.xml

# IntelliJ
.idea/
*.iml/
*.iws

# Mac
.DS_Store

# Maven
target/

# Node
node_modules
npm-debug.log

# bower
bower_components

# eslint
eslint.log
eslint.tap

# Other
log
bin
