# build artefacts
build
dist
target
tmp
jsdoc

# thirdparty libs via package.json dependencies + copied to src/nabi/m/thirdparty/* via postInstall.js
src/nabi/m/thirdparty/blueimp-canvas-to-blob
src/nabi/m/thirdparty/pdfjs-dist

# user project config
.user.nabi.json

# Eclipse
.project
.classpath
.settings/
.launch
.launch/

# Netbeans
nb-configuration.xml

# IntelliJ
.idea/
*.iml/
*.iws

# visual studio code
.vscode

# Mac
.DS_Store

# Maven
target/

# Node
node_modules
npm-debug.log

# bower
bower_components

# eslint
eslint.log
eslint.tap

# Other
log
bin
